html{
    background-color: white;
    font-family: "Helvetica";
    font-size: 18px; 
}

body{
    line-height: 1.4rem;
}

div{
    display: block;
}

header{
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png) no-repeat center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1rem;
    height: 30rem;
}

.container{
    max-width: 960px;
    margin: auto;
}

.flex{
    display:flex;
}

header .flex{
    justify-content: flex-end;
}

nav{
    padding: 1rem 0;
    display: flex;
    background-color: cadetblue;
    color: white;
    justify-content: space-between;
}

nav img{
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

nav div{
    display: flex;
    align-items: center;
}

ul li{
    display: inline;
    padding: 0 1rem;
}

.main-banner{
    display: inline-block;
    background-color: white;
    padding: 0.75rem 5rem;
    margin-top: 10rem;
    margin-right: 2rem;
    line-height: 1.2;
}

h1{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}